<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Users</title>
</head>
<body>
<div th:switch="${buckets}" align="center">
    <h2 th:case="null">No buckets found!</h2>
    <div th:case="*">
        <h2>Your buckets</h2>
        <table>
            <thead>
            <tr>
                <th>Name</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="bucket : ${buckets}">
                <td th:text="${bucket}"></td>
                <td><a th:href="@{bucket/{bucketName}/files(bucketName=${bucket})}">Open</a></td>
                <td><a th:href="@{buckets/{bucketName}/delete(bucketName=${bucket})}">Delete</a></td>
            </tr>
            </tbody>
        </table>
    </div>
    <p><a href="/bucket-create">Create bucket</a></p>
</div>
</body>
</html>