<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Error</title>
</head>
<body>
<br/>
<h1 align="center">Application Error</h1>
<h3>Debug information:</h3>

<a th:text="'Request URL = ' + ${url}"></a>

<br/>

<a th:text="'Exception = ' + ${exception.message}"></a>
<br/>
<strong>Exception stack trace:</strong>
<table>
    <tr th:each="ste : ${exception.stackTrace}">
        <td th:text="${ste}"></td>
    </tr>
</table>
</body>
</html>
