<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Files</title>
</head>
<body>
<div th:switch="${files}" align="center">
    <h2 th:case="null">No found found!</h2>
    <div th:case="*">
        <h2>Your files</h2>
        <table>
            <thead>
            <tr>
                <th>Name</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="file : ${files}">
                <td th:text="${file}"></td>
                <td><a th:href="@{'file/' + ${file}}">Download</a></td>
                <td><a th:href="@{'file/' + ${file} + '/delete'}">Delete</a></td>
            </tr>
            </tbody>
        </table>
    </div>
    <p><a th:href="@{'file-upload'}">Upload file</a></p>
</div>
</body>
</html>